.logo{
    width:450px;
    height: 300px;
    margin-top:12%;
}
.centro{
    margin-top: 100px;
}

.a2{
    color:black;
    display: block;
    padding: .5rem 1rem;
    text-decoration: none;
}
.a2:hover{
    color:#ba8382;
        text-decoration: none;
}
.inputPreco{
    width:35%;
}
.body_form{
    background-color: grey;
}
.div_form{
}
.input-50{
    width:50%;
}
.button-save{
    margin:5px;
}
.icon_admin{
    width: 35px;
    height: 35px;
}
.icon{
    width: 40px;
    height: 40px;
}
.img_admin{
    width: 60px;
    height: 60px;
}
* {
    margin: 0;
}

html {
    font-size: 16px;
}
header {
    height: 4rem;
}
.burger-wrapper {
  cursor: pointer;
}
#meny {
    background:#D2B48C;
    width: 40rem;
    height: 100vh;
    left: 0;
    transition-timing-function: cubic-bezier(10,2,3,1);
    transform: translateX(-100rem);
    top: 0;
    z-index: 0;
    transition: 0.5s;
}
#menyAvPaa {
    display: none;
}
body{
    font-style: bold;
    background-color:#F5ECCE;
}
#menyAvPaa:checked ~ #meny {
    transform: translateX(0rem);
}

#burger {
    position: absolute;
    cursor: pointer;
    width: 4%;
    height: 2rem;
    left: 1rem;
    top: 1rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
#burger > div {
    height: 2px;
    background-color: #000;
    transition: 0.7s;
    z-index: 999;
}

#menyAvPaa:checked ~ #burger > div {
  background-color: #fff;
}

#menyAvPaa:checked ~ #burger > div:nth-child(1) {
    transform: translateY(15px) rotate(45deg);
}
#menyAvPaa:checked ~ #burger > div:nth-child(2) {
    opacity: 0;
}
#menyAvPaa:checked ~ #burger > div:nth-child(3) {
    transform: translateY(-15px) rotate(-45deg);
}
a:link{
text-decoration:none;
}
.nav-link{
color:#B9714F;
}
.nav-link:hover{
color: white;
}


#wrap {
  min-height: 30%;
}

#main {
  overflow:auto;
  padding-bottom:0%; /* this needs to be bigger than footer height*/
}

.footer {
  position: relative;
  margin-top: 200px; /* negative value of footer height */
  height: 0px;
  clear:both;
  padding-top:0px;


}
.btn{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: 0px solid;
    color: white;
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn.focus:active,
.btn:active:focus,
.btn:focus {
  outline: 0 !important;
  outline-offset: 0  !important;
  background-image: none  !important;
  -webkit-box-shadow: none !important;
  box-shadow: none  !important;
}
.btn-butter{
    background-color:#ba8382;

}
.btn-butter:hover{
        text-decoration: none;
        color:black;

}
.zoom {
	overflow: hidden;
}

.zoom img {
	max-width: 100%;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.zoom:hover img {
	-moz-transform: scale(1.2);
	-webkit-transform: scale(1.15);
	transform: scale(1.15);
}