<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Compras ADM</title>
    <link rel="stylesheet" type="text/css" href="/media/css/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body style="font-family:;font-style: bold; background-color:#F5ECCE;">

<div class="container-fluid " style="width:100%;background-color:#D2B48C;"><nav style="width:99%; margin-left:-10%;" class="navbar row">
    <div style="margin-left:15%;"><a class="nav-link" href="home"><div align="center"><img  class="icon_admin" style="margin:5px;" src="/media/files/home.png"></div><H4>HOME</H4></a></div>
    <div><a class="nav-link" href="Produtos"><div align="center"><img class="icon_admin" style="margin:5px;" src="/media/files/fornecedor.png"></div><H4>PRODUTOS</H4></a></div>
    <div><a class="nav-link" href="VisualizarCompras"><div align="center"><img  class="icon_admin" style="margin:5px;" src="/media/files/fazer-compras.png"></div><H4>COMPRAS</H4></a></div>
    <div><a class="nav-link" href="VisualizarCarrinho"><div align="center"><img  class="icon_admin" style="margin:5px;" src="/media/files/carrinho.png"></div><H4>CARRINHO</H4></a></div>

</nav>
<div align="center" class="row" style="height:140px; margin-top:1%; background-image: url('media/files/bg.jpg');">

    <img style="width:35%; margin-left:34%; margin-top:0%; height:160px;" src="/media/files/logo2.png" >

    <div class="col" style=" max-width: 15%; margin-left:17%;margin-top:3.9%;width:15%;">
         {% if user.is_authenticated %}
         <a class="a2" href="Sair">SAIR</a>
                {% else %}
        <a style="" class="a2" href="LoginCliente">ENTRAR</a>
            {% endif %}

    </div>
    </div>

</div>
</div>
<div style="margin-top:3%;" align="center">
<a class="btn btn-butter" href="novo">Adicionar Produto</a>
<a class="btn btn-butter" href="ComprasAdmin">Compras</a>
<a class="btn btn-butter" href="adminProdutos">Produtos</a>
</div>
<div>
  <form method="post" action="BuscaID">
                                   {%csrf_token%}

      <div>
          <label for="id"></label>
          <input class="form-group" id="id" name="id" placeholder="Busca por ID">
          <button class="btn btn-success">Buscar</button>
      </div>
  </form>
</div>
<table class="table table-striped border">
        <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Datas</th>
                <th scope="col">Produtos</th>
                <th scope="col">Valor</th>
                <th scope="col">ID's</th>
            </tr>
        </thead>
            {% for c in compras %}
            <tbody>
                <tr>
                    <th>{{c.dono}}</th>
                    <td>{{c.hora}}</td>
                    <td><a class="btn btn-butter" href="compraprodutos/{{c.id}}">Produtos</a></td>
                    <td>{{c.carrinho.ValorTotal}}</td>
                    <td>{{c.id}}</td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script>$('.dropdown-toggle').dropdown();
</script>
<div class="footer" id="wrap">
  <div id="main" class="container clear-top">
  </div>
</div>
<footer style="background-color:#D2B48C;margin-top:50%;" class="page-footer font-small pt-4">
  <div class="container-fluid text-center text-md-left">
      <div class="row">

      <div class="col-md-6 mt-md-0 mt-3">
        <h5 class="text-uppercase">Endereço</h5>
        <p>Itaporanga, Paraíba, BRASIL</p>
      </div>
      <hr class="clearfix w-100 d-md-none pb-3">
      <div class="col-md-3 mb-md-0 mb-3">
        <h5 class="text-uppercase"></h5>

        <ul class="list-unstyled row">
          <li style="width:20%;">
            <a href="https://instagram.com/butterflystore.oficial?igshid=1cphg3q6mddrf"><img style="" class="icon_admin" src="/media/files/instagram.png"></a>
          </li>
          <li style="width:20%;">
            <a href="https://api.whatsapp.com/send?l=pt-BR&phone=5583996426753"><img style="" class="icon_admin" src="/media/files/whatsapp.png"></a>
          </li>
          <li style="width:20%;">
              <a href="https://pin.it/56GZ8QG"><img style="" class="icon_admin" src="/media/files/pinterest.png"></a>
          </li>
        </ul>

      </div>

    </div>
  </div>
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://instagram.com/douglas.ricarte?igshid=f07vk83grbft"> Douglas Ricarte</a>
  </div>
</footer>
</html>
