<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Carrinho</title>
    <link rel="stylesheet" type="text/css" href="/media/css/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body style="font-family:;font-style: bold; background-color:#F5ECCE;">

<div class="container-fluid " style="width:100%;background-color:#D2B48C;"><nav style="width:99%; margin-left:-10%;" class="navbar row">
    <div style="margin-left:15%;"><a class="nav-link" href="home"><div align="center"><img  class="icon_admin" style="margin:5px;" src="/media/files/home.png"></div><H4>HOME</H4></a></div>
    <div><a class="nav-link" href="Produtos"><div align="center"><img class="icon_admin" style="margin:5px;" src="/media/files/fornecedor.png"></div><H4>PRODUTOS</H4></a></div>
    <div><a class="nav-link" href="VisualizarCompras"><div align="center"><img  class="icon_admin" style="margin:5px;" src="/media/files/fazer-compras.png"></div><H4>COMPRAS</H4></a></div>
    <div><a class="nav-link" href="VisualizarCarrinho"><div align="center"><img  class="icon_admin" style="margin:5px;" src="/media/files/carrinho.png"></div><H4>CARRINHO</H4></a></div>

</nav>
<div align="center" class="row" style="height:140px; margin-top:1%; background-image: url('media/files/bg.jpg');">

    <img style="width:35%; margin-left:34%; margin-top:0%; height:160px;" src="/media/files/logo2.png" >

    <div class="col" style=" max-width: 15%; margin-left:17%;margin-top:3.9%;width:15%;">
         {% if user.is_authenticated %}
         <a class="a2" href="Sair">SAIR</a>
                {% else %}
        <a style="" class="a2" href="LoginCliente">ENTRAR</a>
            {% endif %}

    </div>
    </div>

</div>
</div>


<header class="sticky-top" style="background-color:#ba8382; width:100%;">
    <input type="checkbox" id="menyAvPaa">
        <label id="burger" style="margin-left:0.2%; position:absolute;" for="menyAvPaa">
        <div></div>
        <div></div>
        <div></div>
    </label>
    <div style="width:100%;" class="submit-line">
        <form action="Buscar" method="post">{%csrf_token%}
        <input name="buscar" style="margin-left:7.5%;width:82.5%; height:64px; ;background-color:#D2B48C;outline:none; border: 0px solid;" type="text" placeholder="Buscar">
    <button style="" class="btn">
    <img src="/media/files/procurar.png" class="icon_admin">
  </button>
        </form>
    </div>

     <nav  style="margin-top:-16.6%;" id="meny">
      <div style="margin:22%; margin-top:25%; color:#b9714f">
            <br><br>
          <a class="nav-link" href="Missão"><h3>MISSÃO</h3></a>
          <a class="nav-link" href="Produtos"><h3>PRODUTOS</h3></a>
                    <h6>ACESSÓRIOS</h6>
<div class="dropdown">
  <button style="color:#b9714f;" class="btn dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      CATEGORIAS
  </button>
  <div style="background-color:#C49A80;" class="dropdown-menu" aria-labelledby="dropdownMenu2">
      <a href="filtro/Acessorios"><button class="dropdown-item" type="button">VER TODOS</button></a>
      <a href="filtros/Brinco"><button class="dropdown-item" type="button">BRINCOS</button></a>
      <a href="filtros/Colar"><button class="dropdown-item" type="button">COLARES</button></a>
      <a href="filtros/Oculos"><button class="dropdown-item" type="button">ÓCULOS</button></a>
      <a href="filtros/Piercings"><button class="dropdown-item" type="button">PIERCINGS</button></a>
      <a href="filtros/Scrunchies"><button class="dropdown-item" type="button">SCRUNCHIES</button></a>
      <a href="filtros/Tiara"><button class="dropdown-item" type="button">TIARAS</button></a>
  </div>
</div>
          <h6>FRAGÂNCIAS</h6>

          <div  class="dropdown">
  <button style="color:#b9714f;" class="btn dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      TIPOS
  </button>
  <div style="background-color:#C49A80;"  class="dropdown-menu" aria-labelledby="dropdownMenu3">
      <a href="filtro/Perfumes"><button class="dropdown-item" type="button">VER TODOS</button></a>
      <a href="filtro/Masculino"><button class="dropdown-item" type="button">MASCULINO</button></a>
      <a href="filtro/Feminino"><button class="dropdown-item" type="button">FEMININO</button></a>
</div>

              <a href="https://api.whatsapp.com/send?l=pt-BR&phone=55839964267538" class="nav-link"><h3>ENTRE EM CONTATO</h3></a>
          </div>
      </div>
  </nav>

</header>
<main>
</main>
<div class="container div_table">
        <table class="table table-striped border">
        <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Imagem</th>
                <th scope="col">Preço</th>
                <th scope="col">Quantidade</th>
                <th scope="col">Remover</th>
            </tr>
        </thead>
             {% for p in pedidos.p1.IdPedido1 %}
            <tbody>
                <tr>
                    <th>{{p.nome}}</th>
                    <td><img class="img_admin" src="{{p.vitrine}}"></td>
                    <td>{{p.preco}}</td>
                    <td>
                        <a href="quantidade/{{pedidos.p1.idpedido}}/+"><button class="btn  btn-light">+</button></a>
                        {{pedidos.p1.quantidade}}
                        <a href="quantidade/{{pedidos.p1.idpedido}}/-"><button class="btn  btn-light">-</button></a>
                    </td>
                    <td><a href="RemoverCarrinho/{{pedidos.p1.idpedido}}/{{pedidos.id}}"><img class="icon" src="media/files/excluir.png"></a></td>
                </tr>
            </tbody>
            {% endfor %}
             {% for p in pedidos.p2.IdPedido2 %}
            <tbody>
                <tr>
                    <th>{{p.nome}}</th>
                    <td><img class="img_admin" src="{{p.vitrine}}"></td>
                    <td>{{p.preco}}</td>
                   <td>
                        <a href="quantidade/{{pedidos.p2.idpedido}}/+"><button class="btn  btn-light">+</button></a>
                        {{pedidos.p2.quantidade}}
                        <a href="quantidade/{{pedidos.p2.idpedido}}/-"><button class="btn  btn-light">-</button></a>
                    </td>
                    <td><a href="RemoverCarrinho/{{pedidos.p2.idpedido}}/{{pedidos.id}}"><img class="icon" src="media/files/excluir.png"></a></td>
                </tr>
            </tbody>
            {% endfor %}
            {% for p in pedidos.p3.IdPedido3 %}
            <tbody>
                <tr>
                    <th>{{p.nome}}</th>
                    <td><img class="img_admin" src="{{p.vitrine}}"></td>
                    <td>{{p.preco}}</td>
                    <td>
                        <a href="quantidade/{{pedidos.p3.idpedido}}/+"><button class="btn  btn-light">+</button></a>
                        {{pedidos.p3.quantidade}}
                        <a href="quantidade/{{pedidos.p3.idpedido}}/-"><button class="btn  btn-light">-</button></a>
                    </td>
                    <td><a href="RemoverCarrinho/{{pedidos.p3.idpedido}}/{{pedidos.id}}"><img class="icon" src="media/files/excluir.png"></a></td>
                </tr>
            </tbody>
            {% endfor %}
            {% for p in pedidos.p4.IdPedido4 %}
            <tbody>
                <tr>
                    <th>{{p.nome}}</th>
                    <td><img class="img_admin" src="{{p.vitrine}}"></td>
                    <td>{{p.preco}}</td>
                    <td>
                        <a href="quantidade/{{pedidos.p4.idpedido}}/+"><button class="btn  btn-light">+</button></a>
                        {{pedidos.p4.quantidade}}
                        <a href="quantidade/{{pedidos.p4.idpedido}}/-"><button class="btn  btn-light">-</button></a>
                    </td>
                    <td><a href="RemoverCarrinho/{{pedidos.p4.idpedido}}/{{pedidos.id}}"><img class="icon" src="media/files/excluir.png"></a></td>
                </tr>
            </tbody>
            {% endfor %}{% for p in pedidos.p5.IdPedido5 %}
            <tbody>
                <tr>
                    <th>{{p.nome}}</th>
                    <td><img class="img_admin" src="{{p.vitrine}}"></td>
                    <td>{{p.preco}}</td>
                   <td>
                        <a href="quantidade/{{pedidos.p5.idpedido}}/+"><button class="btn  btn-light">+</button></a>
                        {{pedidos.p5.quantidade}}
                        <a href="quantidade/{{pedidos.p5.idpedido}}/-"><button class="btn  btn-light">-</button></a>
                    </td>
                    <td><a href="RemoverCarrinho/{{pedidos.p5.idpedido}}/{{pedidos.id}}"><img class="icon" src="media/files/excluir.png"></a></td>
                </tr>
            </tbody>
            {% endfor %}{% for p in pedidos.p6.IdPedido6 %}
            <tbody>
                <tr>
                    <th>{{p.nome}}</th>
                    <td><img class="img_admin" src="{{p.vitrine}}"></td>
                    <td>{{p.preco}}</td>
                    <td>
                        <a href="quantidade/{{pedidos.p6.idpedido}}/+"><button class="btn  btn-light">+</button></a>
                        {{pedidos.p6.quantidade}}
                        <a href="quantidade/{{pedidos.p6.idpedido}}/-"><button class="btn  btn-light">-</button></a>
                    </td>
                    <td><a href="RemoverCarrinho/{{pedidos.p6.idpedido}}/{{pedidos.id}}"><img class="icon" src="media/files/excluir.png"></a></td>
                </tr>
            </tbody>
            {% endfor %}{% for p in pedidos.p7.IdPedido7 %}
            <tbody>
                <tr>
                    <th>{{p.nome}}</th>
                    <td><img class="img_admin" src="{{p.vitrine}}"></td>
                    <td>{{p.preco}}</td>
                    <td>
                        <a href="quantidade/{{pedidos.p7.idpedido}}/+"><button class="btn  btn-light">+</button></a>
                        {{pedidos.p7.quantidade}}
                        <a href="quantidade/{{pedidos.p7.idpedido}}/-"><button class="btn  btn-light">-</button></a>
                    </td>
                    <td><a href="RemoverCarrinho/{{pedidos.p7.idpedido}}/{{pedidos.id}}"><img class="icon" src="media/files/excluir.png"></a></td>
                </tr>
            </tbody>
            {% endfor %}{% for p in pedidos.p8.IdPedido8 %}
            <tbody>
                <tr>
                    <th>{{p.nome}}</th>
                    <td><img class="img_admin" src="{{p.vitrine}}"></td>
                    <td>{{p.preco}}</td>
                    <td>
                        <a href="quantidade/{{pedidos.p8.idpedido}}/+"><button class="btn  btn-light">+</button></a>
                        {{pedidos.p8.quantidade}}
                        <a href="quantidade/{{pedidos.p8.idpedido}}/-"><button class="btn  btn-light">-</button></a>
                    </td>
                    <td><a href="RemoverCarrinho/{{pedidos.p8.idpedido}}/{{pedidos.id}}"><img class="icon" src="media/files/excluir.png"></a></td>
                </tr>
            </tbody>
            {% endfor %}{% for p in pedidos.p9.IdPedido9 %}
            <tbody>
                <tr>
                    <th>{{p.nome}}</th>
                    <td><img class="img_admin" src="{{p.vitrine}}"></td>
                    <td>{{p.preco}}</td>
                   <td>
                        <a href="quantidade/{{pedidos.p9.idpedido}}/+"><button class="btn  btn-light">+</button></a>
                        {{pedidos.p9.quantidade}}
                        <a href="quantidade/{{pedidos.p9.idpedido}}/-"><button class="btn  btn-light">-</button></a>
                    </td>
                    <td><a href="RemoverCarrinho/{{pedidos.p9.idpedido}}/{{pedidos.id}}"><img class="icon" src="media/files/excluir.png"></a></td>
                </tr>
            </tbody>
            {% endfor %}{% for p in pedidos.p10.IdPedido10 %}
            <tbody>
                <tr>
                    <th>{{p.nome}}</th>
                    <td><img class="img_admin" src="{{p.vitrine}}"></td>
                    <td>{{p.preco}}</td>
                    <td>
                        <a href="quantidade/{{pedidos.p10.idpedido}}/+"><button class="btn  btn-light">+</button></a>
                        {{pedidos.p10.quantidade}}
                        <a href="quantidade/{{pedidos.p10.idpedido}}/-"><button class="btn  btn-light">-</button></a>
                    </td>
                    <td><a href="RemoverCarrinho/{{pedidos.p10.idpedido}}/{{pedidos.id}}"><img class="icon" src="media/files/excluir.png"></a></td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
            <tbody>
                <tr>
                    <th>Valor Total</th>
                    <td></td>
                    <td></td>
                    <td style="">{{pedidos.valorTotal}}</td>
                    <br>
                    <td><a class=" btn btn-butter" href="Compra/{{pedidos.id}}">Finalizar Compra</a></td>
                </tr>
            </tbody>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script>$('.dropdown-toggle').dropdown();
</script>
<div class="footer" id="wrap">
  <div id="main" class="container clear-top">
  </div>
</div>
<footer style="background-color:#D2B48C;" class="page-footer font-small pt-4">
  <div class="container-fluid text-center text-md-left">
      <div class="row">

      <div class="col-md-6 mt-md-0 mt-3">
        <h5 class="text-uppercase">Endereço</h5>
        <p>Itaporanga, Paraíba, BRASIL</p>
      </div>
      <hr class="clearfix w-100 d-md-none pb-3">
      <div class="col-md-3 mb-md-0 mb-3">
        <h5 class="text-uppercase"></h5>

        <ul class="list-unstyled row">
          <li style="width:20%;">
            <a href="https://instagram.com/butterflystore.oficial?igshid=1cphg3q6mddrf"><img style="" class="icon_admin" src="/media/files/instagram.png"></a>
          </li>
          <li style="width:20%;">
            <a href="https://api.whatsapp.com/send?l=pt-BR&phone=5583996426753"><img style="" class="icon_admin" src="/media/files/whatsapp.png"></a>
          </li>
          <li style="width:20%;">
              <a href="https://pin.it/56GZ8QG"><img style="" class="icon_admin" src="/media/files/pinterest.png"></a>
          </li>
        </ul>

      </div>

    </div>
  </div>
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://instagram.com/douglas.ricarte?igshid=f07vk83grbft"> Douglas Ricarte</a>
  </div>
</footer>
</html>

