<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Novo produto</title>
        <link rel="stylesheet" type="text/css" href="media/css/styles.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body  style="font-family:;font-style: bold;">
<div style="width:%; background-color:white;">

<form style="width:50%;background-color:#F5ECCE;" class="container" enctype="multipart/form-data" action="NovoProduto", method="post">
                    {%csrf_token%}
    <div  align=""><label><h1>Cadastrar novo produto</h1></label></div>
                <div>
                    <label for="nome">Nome</label>
                         <input type="text" class=" form-control border border-primary" name="nome" id="nome" placeholder="Nome do produto">
                    <br>
                </div>

                <div>
                    <label for="descricao">Descrição</label>
                         <textarea class="form-control border border-primary" rows="5"  name="descricao" id="descricao" placeholder="Descrição do produto"></textarea>
                    <br>
                </div>

                <div>
                    <label for="img">Foto Principal</label>
                         <input type="file" class="form-control-file" name="img" id="img" accept="image/*">
                    <br>
                </div>
            <div>
                    <label for="img1">Foto 02</label>
                         <input type="file" class="form-control-file" name="img1" id="img1" accept="image/*">
                    <br>
                </div>
            <div>
                    <label for="img2">Foto 03</label>
                         <input type="file" class="form-control-file" name="img2" id="img2" accept="image/*">
                    <br>
                </div>
            <div>
                    <label for="preco">Preço</label>
                         <input placeholder="Preço" style="width:25%"  type="number" step="0.01" class="form-control border border-primary" name="preco" id="preco">
                    <br>
                </div>
            <div>
                <div class="input-group mb-3">
                      <div class="input-group-prepend">
                    <label class="input-group-text">Disponivel</label>
                      </div>
                         <select class="custom-select" name="disponibilidade">
                        <option value="True">Sim</option>
                        <option value="False">Não</option>
                </select>
                </div>
            </div>
            <div>
                <div class="input-group mb-3">
                      <div class="input-group-prepend">
                    <label class="input-group-text">Categoria</label>
                      </div>
                         <select class="custom-select" name="Categoria">
                        <option value="Masculino">Masculino</option>
                             <option value="Feminino">Feminino</option>
                             <option value="Brinco">Brincos</option>
                             <option value="Colar">Colar</option>
                             <option value="Oculos">Óculos</option>
                             <option value="Pingente">Pingente</option>
                             <option value="Piercings">Piercings</option>
                             <option value="Scrunchies">Scrunchies</option>
                        <option value="Tiara">Tiara</option>

                </select>
                </div>
            </div>
            <div>
                <div class="input-group mb-3">
                      <div class="input-group-prepend">
                    <label class="input-group-text">Tipo</label>
                      </div>
                         <select class="custom-select" name="Tipo">
                        <option value="Acessorios">Acessórios</option>
                        <option value="Perfume">Perfumes</option>
                </select>
                </div>
            </div>
            <div>
                <div class="input-group mb-3">
                      <div class="input-group-prepend">
                    <label class="input-group-text">Vitrine</label>
                      </div>
                         <select class="custom-select" name="vitrine">
                        <option value="True">Sim</option>
                        <option value="False">Não</option>
                </select>
                </div>
            </div>
        <button class="button-save btn btn-success">Salvar</button>

    </form>
</div>
</body>
</html>