<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/media/css/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body style="font-family:;font-style: bold;; background-color:#5ECCE;">

<div class="container-fluid " style="width:100%;background-color:#D2B48C;"><nav style="width:99%; margin-left:-10%;" class="navbar row">
    <div style="margin-left:15%;"><a class="nav-link" href="home"><div align="center"><img  class="icon_admin" style="margin:5px;" src="/media/files/home.png"></div><H4>HOME</H4></a></div>
    <div><a class="nav-link" href="Produtos"><div align="center"><img class="icon_admin" style="margin:5px;" src="/media/files/fornecedor.png"></div><H4>PRODUTOS</H4></a></div>
    <div><a class="nav-link" href="VisualizarCompras"><div align="center"><img  class="icon_admin" style="margin:5px;" src="/media/files/fazer-compras.png"></div><H4>COMPRAS</H4></a></div>
    <div><a class="nav-link" href="VisualizarCarrinho"><div align="center"><img  class="icon_admin" style="margin:5px;" src="/media/files/carrinho.png"></div><H4>CARRINHO</H4></a></div>

</nav>
<div align="center" class="row" style="height:140px; margin-top:1%; background-image: url('/media/files/bg.jpg');">

    <img style="width:35%; margin-left:34%; margin-top:0%; height:160px;" src="/media/files/logo2.png" >

    <div class="col" style=" max-width: 15%; margin-left:17%;margin-top:3.9%;width:15%;">
         {% if user.is_authenticated %}
         <a class="a2" href="Sair">SAIR</a>
                {% else %}
        <a style="" class="a2" href="LoginCliente">ENTRAR</a>
            {% endif %}

    </div>
    </div>

</div>
</div>


<header class="sticky-top" style="background-color:#ba8382; width:100%;">
    <input type="checkbox" id="menyAvPaa">
        <label id="burger" style="margin-left:0.2%; position:absolute;" for="menyAvPaa">
        <div></div>
        <div></div>
        <div></div>
    </label>
    <div style="width:100%;" class="submit-line">
        <form action="Buscar" method="post">{%csrf_token%}
        <input name="buscar" style="margin-left:7.5%;width:82.5%; height:64px; ;background-color:#D2B48C;outline:none; border: 0px solid;" type="text" placeholder="Buscar">
    <button style="" class="btn">
    <img src="/media/files/procurar.png" class="icon_admin">
  </button>
        </form>
    </div>

    <nav  style="margin-top:-16.6%;" id="meny">
      <div style="margin:22%; margin-top:25%; color:#b9714f">
            <br><br>
          <a class="nav-link" href="Missão"><h3>MISSÃO</h3></a>
          <a class="nav-link" href="Produtos"><h3>PRODUTOS</h3></a>
                    <h6>ACESSÓRIOS</h6>
<div class="dropdown">
  <button style="color:#b9714f;" class="btn dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      CATEGORIAS
  </button>
  <div style="background-color:#C49A80;" class="dropdown-menu" aria-labelledby="dropdownMenu2">
      <a href="filtro/Acessorios"><button class="dropdown-item" type="button">VER TODOS</button></a>
      <a href="filtros/Brinco"><button class="dropdown-item" type="button">BRINCOS</button></a>
      <a href="filtros/Colar"><button class="dropdown-item" type="button">COLARES</button></a>
      <a href="filtros/Oculos"><button class="dropdown-item" type="button">ÓCULOS</button></a>
      <a href="filtros/Pingente"><button class="dropdown-item" type="button">PINGENTES</button></a>
      <a href="filtros/Piercings"><button class="dropdown-item" type="button">PIERCINGS</button></a>
      <a href="filtros/Scrunchies"><button class="dropdown-item" type="button">SCRUNCHIES</button></a>
      <a href="filtros/Tiara"><button class="dropdown-item" type="button">TIARAS</button></a>

  </div>
</div>
          <h6>FRAGÂNCIAS</h6>

          <div  class="dropdown">
  <button style="color:#b9714f;" class="btn dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      TIPOS
  </button>
  <div style="background-color:#C49A80;"  class="dropdown-menu" aria-labelledby="dropdownMenu3">
      <a href="filtro/Perfumes"><button class="dropdown-item" type="button">VER TODOS</button></a>
      <a href="filtro/Masculino"><button class="dropdown-item" type="button">MASCULINO</button></a>
      <a href="filtro/Feminino"><button class="dropdown-item" type="button">FEMININO</button></a>
</div>

              <a href="https://api.whatsapp.com/send?l=pt-BR&phone=5583996426753" class="nav-link"><h3>ENTRE EM CONTATO</h3></a>
          </div>
      </div>
  </nav>

</header>
<main>
</main>
<div>
</div>
 {% if produtos %}
    {% else %}
    <div style="margin-top:2%" align="center">
    <h1>Em breve...</h1>
    </div>
    {% endif %}
<div align="center" style="width:94%; margin-left:5%; margin-top:5%;" class="row">
{% for p in produtos %}
<div align="center" class="zoom" style="margin-left:7%">
    <div class="card" style="width: 18rem;position:unset;!important; margin-top:5%;">
        <a class="" href="produto/{{p.id}}"><img  class="card-img-top" src="{{p.vitrine}}" alt="Card image cap"></a>
  <div class="card-body">
    <h5 class="card-title">{{p.nome}}</h5>
    <p class="card-title"> <b>R${{p.preco}}</b></p>
    <div class="">
        <br>
      <a href="produto/{{p.id}}" class="a2">Mais detalhes</a>
    </div>
      <div align="center">
      {% if p.disponibilidade == True %}
      <h6>Disponível a pronta entrega</h6>
         {% endif %}
      </div>
    </div>
        <div align="center">
        {% if p.disponibilidade == False %}
      <h6>Disponível para encomenda</h6>
         {% endif %}
        </div>
        </div>
</div>
    {% endfor %}
</div>
{% if produtos %}
    <div align="center" style="margin-top:25px;">
    <a href="Produtos"><button class="btn btn-butter">VER TODOS</button></a>
</div>
    {% endif %}

</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script>$('.dropdown-toggle').dropdown();
    window.history.pushState("", "", "/");
</script>
<div class="footer" id="wrap">
  <div id="main" class="container clear-top">
  </div>
</div>
<footer style="background-color:#D2B48C;margin-bottom:-25%;" class="page-footer font-small pt-4">
  <div class="container-fluid text-center text-md-left">
      <div class="row">

      <div class="col-md-6 mt-md-0 mt-3">
        <h5 class="text-uppercase">Endereço</h5>
        <p>Itaporanga, Paraíba, BRASIL</p>
      </div>
      <hr class="clearfix w-100 d-md-none pb-3">
      <div class="col-md-3 mb-md-0 mb-3">
        <h5 class="text-uppercase"></h5>

        <ul class="list-unstyled row">
          <li style="width:20%;">
            <a href="https://instagram.com/butterflystore.oficial?igshid=1cphg3q6mddrf"><img style="" class="icon_admin" src="/media/files/instagram.png"></a>
          </li>
          <li style="width:20%;">
            <a href="https://api.whatsapp.com/send?l=pt-BR&phone=5583996426753"><img style="" class="icon_admin" src="/media/files/whatsapp.png"></a>
          </li>
          <li style="width:20%;">
              <a href="https://pin.it/56GZ8QG"><img style="" class="icon_admin" src="/media/files/pinterest.png"></a>
          </li>
        </ul>

      </div>

    </div>
  </div>
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://instagram.com/douglas.ricarte?igshid=f07vk83grbft"> Douglas Ricarte</a>
  </div>
</footer>
</html>
