<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/media/css/styles.css">

</head>
<body>
<div class="container  shadow-lg p-3 mb-5 rounded" style="width:70%;background-color:white; margin-top:5%;">
    <form style="margin:5%;" action="loginAdmin" , method="POST">
        {%csrf_token%}
            <h2 style="margin-left:-10px; margin-top:15px;">Entrar</h2>
            <div class="form-group">
                <label for="username">Usuário</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="Nome de log in">
            </div>
        <div class="form-group">
                <label for="password">Senha</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Senha">
        </div>
        <div>
            {% for message in  messages %}
        <div class="alert alert-danger mt-2">
            <strong>Erro!</strong>{{ message }}
                {% endfor %}
        </div>
            <button type="submit" class="btn btn-butter" style="margin-right:10px; ;">Entrar</button>
        </div>
    </form>
</div>
</body>
</html>