<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Cliente</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/media/css/styles.css">

</head>
<body>

<div class="container  shadow-lg p-3 mb-5 rounded" style="width:70%;margin-top:10%; background-color:white;">
    <form style="margin:5%;" action="AutenticarCliente" , method="POST">
        {%csrf_token%}
            <h2 style="margin-left:-10px; margin-top:15px;">Entre com o seu username</h2>
            <div class="form-group">
                <label for="nome">Nome</label>
                <input type="text" class="form-control" id="nome" name="nome" placeholder="Username">
            </div>
            <div>
                <button type="submit" class="btn btn-butter" style="margin-right:10px; ;">Entrar</button>
            </div>
    </form>
       <div align="right">
        <a style="color:white;" class="btn btn-butter" href="Cliente">Cadastre-se</a>
    </div>
    {% for message in  messages %}
        <div class="alert alert-danger mt-2">
            <strong>Erro!</strong>{{ message }}
                {% endfor %}
        </div>
</div>
</body>
</html>