<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cliente</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/media/css/styles.css">

</head>
<body>
<div class="container  shadow-lg p-3 mb-5 rounded" style="width:70%;background-color:white; margin-top:5%;">
    <form style="margin:5%;" action="NovoCliente" , method="POST">
        {%csrf_token%}
            <h2 style="margin-left:-10px; margin-top:15px;">Cadastre-se</h2>
            <div class="form-group">
                <label for="nome">Username</label>
                <input type="text" class="form-control" id="nome" name="nome" placeholder="Username">
            </div>
            <div class="form-group">
                <label for="name">Nome completo</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Nome completo">
            </div>
            <div>
                <button type="submit" class="btn btn-butter" style="margin-right:10px; ;">Salvar</button>
            </div>
    </form>
    <div><p></p></div>
      {% for message in  messages %}
        <div class="alert alert-danger mt-2">
            <strong>Erro!</strong>{{ message }}
                {% endfor %}
        </div>
</div>
</body>
</html>